@import"./reset.scss";

$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$font-title: "Shrikhand", sans-serif;
$font-text: "Roboto", sans-serif;
$box-shadow-015: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
$box-shadow-025: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$background-grey-234: rgb(234, 234, 234);
$background-grey-246: rgb(246, 246, 246);
$background-linear-gradient: linear-gradient(193.33deg, $main-color -11.44%, $second-color 123.93%);
$vert-nouveau: rgba(0, 135, 102, 1);
$vert-menu: 3px solid rgba(153, 226, 208, 1);


.main-container {
    max-width: 375px;
}

/***** HEADER *****/

header {
    h1 {
    font-family: $font-title;
    font-size: 30px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow-015;
}   

        .header_localisation {
            position: sticky;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            height: 50px;
            background: $background-grey-234;
            box-shadow: $box-shadow-025;
        } p {
            font-family: $font-text;
            font-size: 16px;
        }
}

/***** SECTION EXPLORER *****/

.section_explorer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 270px;
    background: $background-grey-246;

    h2 {
        font-family: $font-text;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }
        p{
            font-family: $font-text;
            font-size: 18px;
            font-weight: lighter;
            text-align: center;
        }
            button {
                background: $background-linear-gradient;
                box-shadow: $box-shadow-025;
                font-family: $font-text;
                font-size: 16px;
                color: white;
                width: 218px;
                height: 50px;
                border-radius: 25px;
                border: none;
            }
}


/***** SECTION FONCTIONNEMENT *****/

.fonctionnement {
    height: 440px;
    padding-left: 32.5px;
    margin-top: 40px;

    h3 {
        font-family: $font-text;
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 20px;
        margin-left: -12.5px;
    }
        .card_fonctionnement {
            background: $background-grey-246;
            box-shadow: $box-shadow-015;
            border-radius: 20px;
            width: 322px;
            height: 72px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
            span {
                position: absolute;
                left: 0;
                width: 25px;
                height: 25px;
                background: red;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateX(-50%);
            }
}