@import"./reset.scss";

$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$icon-fonctionement: rgba(126, 126, 126, 1);
$font-title: "Shrikhand", sans-serif;
$font-text: "Roboto", sans-serif;
$box-shadow-015: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
$box-shadow-025: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$background-grey-234: rgb(234, 234, 234);
$background-grey-246: rgb(246, 246, 246);
$background-linear-gradient: linear-gradient(193.33deg, $main-color -11.44%, $second-color 123.93%);
$vert-nouveau: rgba(0, 135, 102, 1);
$vert-menu: 3px solid rgba(153, 226, 208, 1);


.main-container {
    max-width: 375px;
}

/***** HEADER *****/

header {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;

        a {
            position: absolute;
            left: 20px;
            color: black;
        }
}