@import"./reset.scss";

$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$font-title: "Shrikhand", sans-serif;
$font-text: "Roboto", sans-serif;


.main-container {
    max-width: 375px;
}

h1 {
    font-family: $font-title;
    font-style: italic;
    font-size: 30px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(234, 234, 234);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    gap: 10px;
    font-family: $font-text;
    font-size: 16px;
}

.section_explorer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 280px;
}

h2 {
    font-family: $font-text;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 275px;
}

.section_explorer p {
    font-family: $font-text;
    text-align: center;
    width: 315px;
}

.section_explorer button {
    font-family: $font-text;
    font-size: 16px;
    color: white;
    text-align: center;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}