@import "./reset.scss";

$main-color: #9356dc;
$second-color: #ff79da;
$third-color: #99e2d0;
$icon-fonctionement: rgba(126, 126, 126, 1);
$font-title: "Shrikhand", sans-serif;
$font-text: "Roboto", sans-serif;
$box-shadow-05: 0px 6px 15px rgba(0, 0, 0, 0.5);
$box-shadow-015: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
$box-shadow-025: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$background-grey-234: rgb(234, 234, 234);
$background-grey-246: rgb(246, 246, 246);
$background-linear-gradient: linear-gradient( 193.33deg, $main-color -11.44%, $second-color 123.93%);
$vert-nouveau: rgba(0, 135, 102, 1);
$vert-menu: 3px solid rgba(153, 226, 208, 1);

h1 {
  font-family: $font-title;
  font-size: 30px;
  font-weight: 400;
}

h2 {
  font-family: $font-title;
  font-size: 28px;
  font-weight: 400;
}

h3 {
  font-family: $font-text;
  font-size: 18px;
  font-weight: 500;
}

p {
  font-family: $font-text;
  font-size: 16px;
  font-weight: 300;
}



img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

/***** HEADER *****/

header {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    position: absolute;
    left: 20px;
    color: black;
  }
}

/***** CARD RESTAURANT *****/

.menu_restaurant {
  padding: 10px;
  background: $background-grey-246;
  position: relative;
  margin-top: -55px;
  border-radius: 40px 40px 0 0;
  padding-bottom: 30px;

  .flex_menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 40px;
  }

  .flex_title_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .heart_checkbox {
      display: none;
    }
  
    .heart_label {
      position: relative;
      height: 30px;
      width: 30px;
    }
  
    /* Style par défaut du cœur */
    .heart_label i {
      font-size: 24px; /* Taille du cœur */
      cursor: pointer; /* Indique que c'est cliquable */
      transition: all 0.5s ease-in-out;
      position: absolute;
    }
  
    .heart_label i.fa-solid {
      opacity: 0;
    }
  
    /* Effet au clic (quand le checkbox est coché) */
    .heart_checkbox:checked + i {
      background: $background-linear-gradient; /* Couleur du cœur rempli */
      background-clip: text;
      color: transparent;
      transform: scale(1.2);
      opacity: 1;
    }
  
    .heart_checkbox:checked ~ i.fa-regular {
      opacity: 0;
    }
  }

  .border_bot {
    border-bottom: 3px $third-color solid;
    width: 40px;
  }

  .card_menu_choix {
    background: white;
    box-shadow: $box-shadow-015;
    border-radius: 15px;
    height: 69px;
    padding-left: 15px;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    /* Les proriétés en dessous servent à cacher les éléments au départ   */
    opacity: 0;
    transform: translateY(20px);
    animation: apparition 0.5s ease-in-out forwards;

    .prix {
        font-family: $font-text;
        font-size: 15px;
        font-weight: 700;
        margin-left: auto;
        height: 69px;
        padding-top: 37px;
        padding-right: 20px;
      }
  }

  .flex_text_restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*.flex_button {
    display: flex;
    justify-content: center;
  }*/

  button {
    background: $background-linear-gradient;
    box-shadow: $box-shadow-025;
    font-family: $font-text;
    font-size: 16px;
    color: white;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    border: none;
  }

  .hidden-input {
    display: none;
  }

  .button_check_menu {
    margin-right: -59px;
    opacity: 0;
    transition: all 1s ease;
    color: #fff;
    background: #a7e1c0;
    border-radius: 0 15px 15px 0;
    width: 59px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card_menu_choix:has(.hidden-input:checked) .flex_text_restaurants h3,
  .card_menu_choix:has(.hidden-input:checked) .flex_text_restaurants p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
}

  /* Effet actif : affiche le bouton validé quand l'input est sélectionné */
  .card_menu_choix:has(.hidden-input:checked) .button_check_menu {
    margin-right: 0;
    opacity: 1;
  }

  .flex_button {
    display: flex;
    justify-content: center;
  }

  .btn_commander {
    background: $background-linear-gradient;
    box-shadow: $box-shadow-025;
    font-family: $font-text;
    font-size: 16px;
    color: white;
    width: fit-content;
    height: 50px;
    border-radius: 25px;
    border: none;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background 0.3s ease-in-out,
      /* Anime le changement de fond sur 0.3s avec un effet fluide */ box-shadow
    0.3s ease-in-out; /* Anime l'ombre portée sur 0.3s avec le même effet fluide */
  }

  .btn_commander:hover {
    background: ($background-linear-gradient, 10%); /* Éclaircissement */
    box-shadow: $box-shadow-05; /* Ombre plus marquée */
  }

  /* Animation d'apparition */
  @keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  /* Ajouter un délai pour chaque plat */
  .entree .card_menu_choix:nth-child(2) { animation-delay: 0.3s; }
  .entree .card_menu_choix:nth-child(3) { animation-delay: 0.6s; }
  .entree .card_menu_choix:nth-child(4) { animation-delay: 0.9s; }

  .plat .card_menu_choix:nth-child(2) { animation-delay: 1.2s; }
  .plat .card_menu_choix:nth-child(3) { animation-delay: 1.5s; }
  .plat .card_menu_choix:nth-child(4) { animation-delay: 1.8s; }

  .dessert .card_menu_choix:nth-child(2) { animation-delay: 2.1s; }
  .dessert .card_menu_choix:nth-child(3) { animation-delay: 2.4s; }
  .dessert .card_menu_choix:nth-child(4) { animation-delay: 2.7s; }
}

/***** FOOTER *****/

footer {
  background: rgba(53, 53, 53, 1);

  h5,
  a,
  i {
    color: white;
  }

  .flex_footer {
    display: flex;
    flex-direction: column;
    padding: 22px 25px;
    gap: 16px;
  }
  h5 {
    font-family: $font-title;
    font-size: 18px;
  }
  a {
    font-family: $font-text;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    gap: 10px;
  }
}

/***** MEDIA QUERIES *****/

@media (min-width: 1024px) {
  .card_restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu_restaurant {
      width: 70%;
      display: flex;
      flex-direction: column;
    }
  }

  .menu_restaurant {
    .flex_title_menu {
      justify-content: center;
      gap: 25px;
    }
  }
}
