@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.prix {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
}

img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

/***** HEADER *****/
header {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  position: absolute;
  left: 20px;
  color: black;
}

/***** CARD RESTAURANT *****/
.menu_restaurant {
  padding: 10px;
  background: rgb(246, 246, 246);
  position: relative;
  margin-top: -55px;
  border-radius: 40px 40px 0 0;
  padding-bottom: 30px;
  /* Effet actif : affiche le bouton validé quand l'input est sélectionné */
}
.menu_restaurant .flex_menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 40px;
}
.menu_restaurant .flex_title_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.menu_restaurant .border_bot {
  border-bottom: 3px #99E2D0 solid;
  width: 40px;
}
.menu_restaurant .card_menu_choix {
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  height: 69px;
  padding: 15px;
  position: relative;
  /*display: flex;
  align-items: center;
  justify-content: space-between;*/
  cursor: pointer;
}
.menu_restaurant .flex_text_restaurants {
  display: flex;
  justify-content: space-between;
}
.menu_restaurant .flex_button {
  display: flex;
  justify-content: center;
}
.menu_restaurant button {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
}
.menu_restaurant .hidden-input {
  display: none;
}
.menu_restaurant .button_check_menu {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) translateX(40px); /* Caché sur le côté */
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  color: #fff;
  background: #A7E1C0;
  border-radius: 0 10px 10px 0;
  width: 59px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_restaurant .card_menu_choix:has(.hidden-input:checked) .button_check_menu {
  transform: translateY(-50%) translateX(0); /* Affiche à droite */
  opacity: 1;
}

/***** FOOTER *****/
footer {
  background: rgb(53, 53, 53);
}
footer h5, footer a, footer i {
  color: white;
}
footer .flex_footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  gap: 16px;
}
footer h5 {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
}
footer a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  gap: 10px;
}

/***** MEDIA QUERIES *****/
@media (min-width: 1024px) {
  .card_restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card_restaurant .menu_restaurant {
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .menu_restaurant .flex_title_menu {
    justify-content: center;
    gap: 25px;
  }
}

/*# sourceMappingURL=style_menu.css.map */
