/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.main-container {
  max-width: 375px;
}

/***** HEADER *****/
header h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header .header_localisation {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 50px;
  background: rgb(234, 234, 234);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
header p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/***** SECTION EXPLORER *****/
.section_explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 270px;
  background: rgb(246, 246, 246);
}
.section_explorer h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.section_explorer p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}
.section_explorer button {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
}

/***** SECTION FONCTIONNEMENT *****/
.fonctionnement {
  height: 440px;
  padding-left: 32.5px;
  margin-top: 40px;
}
.fonctionnement h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  margin-left: -12.5px;
}
.fonctionnement .flex_fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fonctionnement .card_fonctionnement {
  background: rgb(246, 246, 246);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 322px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.fonctionnement span {
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  background: #9356DC;
  color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}
.fonctionnement i {
  position: absolute;
  left: 35px;
}
.fonctionnement p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.fonctionnement .fa-mobile-screen-button, .fonctionnement .fa-list-ul {
  color: rgb(126, 126, 126);
}
.fonctionnement .fa-store {
  color: #9356DC;
}

/***** SECTION RESTAURANT *****/
.restaurant {
  background: rgb(246, 246, 246);
  padding-bottom: 40px;
}
.restaurant h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  margin-left: 20px;
  padding-top: 40px;
}
.restaurant a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}
.restaurant .card_restaurant {
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 346px;
}
.restaurant img {
  border-radius: 15px 15px 0 0;
}
.restaurant h4 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.restaurant p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

/***** FOOTER *****/
footer {
  background: rgb(53, 53, 53);
}
footer h5, footer a, footer i {
  color: white;
}
footer .flex_footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  gap: 16px;
}
footer h5 {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
}
footer a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  gap: 10px;
}

/*# sourceMappingURL=style.css.map */
