@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* Styles pour la superposition du loader */
.loader_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff; /* Fond blanc */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeOut 3s forwards; /* Disparition après 3s */
}

/* Animation de disparition */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* Loader animé (cercle qui tourne) */
.loader {
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top: 6px solid #3498db; /* Couleur du chargement */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animation de rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Masquer le contenu au début */
.main_container {
  display: none;
}

/* Afficher le contenu après la disparition du loader */
.loader_container {
  animation: fadeOut 3s forwards;
}

.loader_container + .main_container {
  animation: showContent 3s forwards;
}

@keyframes showContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
/***** HEADER *****/
header h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header .header_localisation {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 50px;
  background: rgb(234, 234, 234);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
header p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/***** SECTION EXPLORER *****/
.section_explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 270px;
  background: rgb(246, 246, 246);
}
.section_explorer h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.section_explorer p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 20px;
}
.section_explorer .btn-explorer {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  width: fit-content;
  height: 50px;
  border-radius: 25px;
  border: none;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Anime l'ombre portée sur 0.3s avec le même effet fluide */
}
.section_explorer .btn-explorer:hover {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%), 10%; /* Éclaircissement */
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5); /* Ombre plus marquée */
}

/***** SECTION FONCTIONNEMENT *****/
.fonctionnement {
  padding-left: 32.5px;
  margin-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
}
.fonctionnement h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  margin-left: -12.5px;
}
.fonctionnement .flex_fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fonctionnement .card_fonctionnement {
  background: rgb(246, 246, 246);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.fonctionnement span {
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  background: #9356dc;
  color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.fonctionnement i {
  position: absolute;
  left: 11%;
}
.fonctionnement p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.fonctionnement .fa-mobile-screen-button,
.fonctionnement .fa-list-ul {
  color: rgb(126, 126, 126);
}
.fonctionnement .fa-store {
  color: #9356dc;
}

/***** SECTION RESTAURANT *****/
.restaurant {
  background: rgb(246, 246, 246);
  padding: 20px 20px 40px 20px;
  /* Style par défaut du cœur */
  /* Effet au clic (quand le checkbox est coché) */
}
.restaurant h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 40px;
}
.restaurant a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  margin-bottom: 20px;
}
.restaurant .card_restaurant {
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  position: relative;
}
.restaurant .card_restaurant span {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #99e2d0;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 135, 102);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.restaurant .card_restaurant .text_restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 27%;
  padding: 0 10px;
}
.restaurant .heart_checkbox {
  display: none;
}
.restaurant .heart_label {
  position: relative;
  height: 30px;
  width: 30px;
}
.restaurant .heart_label i {
  font-size: 24px; /* Taille du cœur */
  cursor: pointer; /* Indique que c'est cliquable */
  transition: all 0.5s ease-in-out;
  position: absolute;
}
.restaurant .heart_label i.fa-solid {
  opacity: 0;
}
.restaurant .heart_checkbox:checked + i {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%); /* Couleur du cœur rempli */
  background-clip: text;
  color: transparent;
  transform: scale(1.2);
  opacity: 1;
}
.restaurant .heart_checkbox:checked ~ i.fa-regular {
  opacity: 0;
}
.restaurant img {
  border-radius: 15px 15px 0 0;
  height: 73%;
  width: 100%;
  object-fit: cover;
}
.restaurant h4 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.restaurant p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

/***** FOOTER *****/
footer {
  background: rgb(53, 53, 53);
}
footer h5,
footer a,
footer i {
  color: white;
}
footer .flex_footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  gap: 16px;
}
footer h5 {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
}
footer a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  gap: 10px;
}

/***** MEDIA QUERIES *****/
@media (min-width: 1024px) {
  .section_explorer h2 {
    font-size: 40px;
  }

  .fonctionnement {
    padding: 50px 180px;
    margin-top: 0;

    .flex_fonctionnement {
      display: flex;
      flex-direction: row;
    }
  }
}

/*# sourceMappingURL=style.css.map */
