@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

/***** HEADER *****/
header {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  position: absolute;
  left: 20px;
  color: black;
}

/***** CARD RESTAURANT *****/
.menu_restaurant {
  padding: 10px;
  background: rgb(246, 246, 246);
  position: relative;
  margin-top: -55px;
  border-radius: 40px 40px 0 0;
  padding-bottom: 30px;
  /*.flex_button {
    display: flex;
    justify-content: center;
  }*/
  /* Effet actif : affiche le bouton validé quand l'input est sélectionné */
  /* Animation d'apparition */
  /* Ajouter un délai pour chaque plat */
}
.menu_restaurant .flex_menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 40px;
}
.menu_restaurant .flex_title_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* Style par défaut du cœur */
  /* Effet au clic (quand le checkbox est coché) */
}
.menu_restaurant .flex_title_menu .heart_checkbox {
  display: none;
}
.menu_restaurant .flex_title_menu .heart_label {
  position: relative;
  height: 30px;
  width: 30px;
}
.menu_restaurant .flex_title_menu .heart_label i {
  font-size: 24px; /* Taille du cœur */
  cursor: pointer; /* Indique que c'est cliquable */
  transition: all 0.5s ease-in-out;
  position: absolute;
}
.menu_restaurant .flex_title_menu .heart_label i.fa-solid {
  opacity: 0;
}
.menu_restaurant .flex_title_menu .heart_checkbox:checked + i {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%); /* Couleur du cœur rempli */
  background-clip: text;
  color: transparent;
  transform: scale(1.2);
  opacity: 1;
}
.menu_restaurant .flex_title_menu .heart_checkbox:checked ~ i.fa-regular {
  opacity: 0;
}
.menu_restaurant .border_bot {
  border-bottom: 3px #99e2d0 solid;
  width: 40px;
}
.menu_restaurant .card_menu_choix {
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  height: 69px;
  padding-left: 15px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  animation: apparition 0.5s ease-in-out forwards;
}
.menu_restaurant .card_menu_choix .prix {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-left: auto;
  height: 69px;
  padding-top: 37px;
  padding-right: 20px;
}
.menu_restaurant .flex_text_restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu_restaurant button {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
}
.menu_restaurant .hidden-input {
  display: none;
}
.menu_restaurant .button_check_menu {
  margin-right: -59px;
  opacity: 0;
  transition: all 1s ease;
  color: #fff;
  background: #a7e1c0;
  border-radius: 0 15px 15px 0;
  width: 59px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_restaurant .card_menu_choix:has(.hidden-input:checked) .flex_text_restaurants h3,
.menu_restaurant .card_menu_choix:has(.hidden-input:checked) .flex_text_restaurants p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
}
.menu_restaurant .card_menu_choix:has(.hidden-input:checked) .button_check_menu {
  margin-right: 0;
  opacity: 1;
}
.menu_restaurant .flex_button {
  display: flex;
  justify-content: center;
}
.menu_restaurant .btn_commander {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  width: fit-content;
  height: 50px;
  border-radius: 25px;
  border: none;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Anime l'ombre portée sur 0.3s avec le même effet fluide */
}
.menu_restaurant .btn_commander:hover {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%), 10%; /* Éclaircissement */
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5); /* Ombre plus marquée */
}
@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu_restaurant .entree .card_menu_choix:nth-child(2) {
  animation-delay: 0.3s;
}
.menu_restaurant .entree .card_menu_choix:nth-child(3) {
  animation-delay: 0.6s;
}
.menu_restaurant .entree .card_menu_choix:nth-child(4) {
  animation-delay: 0.9s;
}
.menu_restaurant .plat .card_menu_choix:nth-child(2) {
  animation-delay: 1.2s;
}
.menu_restaurant .plat .card_menu_choix:nth-child(3) {
  animation-delay: 1.5s;
}
.menu_restaurant .plat .card_menu_choix:nth-child(4) {
  animation-delay: 1.8s;
}
.menu_restaurant .dessert .card_menu_choix:nth-child(2) {
  animation-delay: 2.1s;
}
.menu_restaurant .dessert .card_menu_choix:nth-child(3) {
  animation-delay: 2.4s;
}
.menu_restaurant .dessert .card_menu_choix:nth-child(4) {
  animation-delay: 2.7s;
}

/***** FOOTER *****/
footer {
  background: rgb(53, 53, 53);
}
footer h5,
footer a,
footer i {
  color: white;
}
footer .flex_footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  gap: 16px;
}
footer h5 {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
}
footer a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  gap: 10px;
}

/***** MEDIA QUERIES *****/
@media (min-width: 1024px) {
  .card_restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card_restaurant .menu_restaurant {
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .menu_restaurant .flex_title_menu {
    justify-content: center;
    gap: 25px;
  }
}

/*# sourceMappingURL=style_menu.css.map */
